.header{
    display: flex;
    justify-content: center;
    width: 100%;
}
.header img,
.header .header-title{
    margin: 0 calc(17% + 15px);
}
.taskbar{
    display: flex;
    width: 50%;
    padding: 0;
    margin-top: 4%;
    margin-bottom: 2%;
}
)
.taskbar li:first-child{
    padding-right: 20px;
}
.taskbar li:last-child{
    border-right: none;
}
.taskbar li{
    list-style: none;
    font-size: 20px;
    padding: 0 20px;
    border-right: 1px solid #333;
}